<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Page Design</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/Content/css/plugins/owl.carousel.css">
    <link rel="stylesheet" href="css/plugins/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>

    <header>
        <div class="container">

            <div class="flex">
                <div class="left">
                    <span class="leftone"><i class="fa-solid fa-phone"></i> 1-677-124-44227</span>
                    <span class="lefttwo">
                        <i class="fa-regular fa-clock "></i>Mon - Sat 8.00 - 18.00 Sunday
                        CLOSED
                    </span>
                </div>
                <div class="right">
                    <div class="liflex">

                        <ul class="ul">

                            <li class="class"><a href="#">ENGLISH</a></li>
                            <li class="class"><a href="#">SIGN IN</a></li>
                            <li class="button"><button><i class="fa-solid fa-magnifying-glass"></i></button></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>



        <div class="secondpart">
            <div class="container">
                <div class="againflex">

                    <div class="secondpartleft"><img src="~/Content/images/logo-normal.png"></div>

                    <div class="secondpartright">
                        <div class="flextwo">
                            <ul class="ul-one">
                                <li class="part">
                                    <a href="#">HOME</a>

                                    <div class="insidehome">
                                        <ul>
                                            <li class="inside"><a href="#">Home 1</a></li>
                                            <li class="inside"><a href="#">Home 2</a></li>
                                            <li class="inside"><a href="#">Home 3</a></li>
                                            <li class="inside"><a href="#">Home 4</a></li>
                                            <li class="inside"><a href="#">Home 5</a></li>
                                            <li class="inside"><a href="#">Home 6</a></li>
                                            <li class="inside"><a href="#">Landing</a></li>
                                        </ul>

                                    </div>
                                </li>

                                <li class="part">
                                    <a href="#">PAGES</a>

                                    <div class="insidehome">
                                        <ul>
                                            <li class="inside"><a href="#">About Us</a></li>
                                            <li class="inside"><a href="#">Who We Are</a></li>
                                            <li class="inside"><a href="#">Meet Our Team</a></li>
                                            <li class="inside"><a href="#">FAQ</a></li>
                                            <li class="inside"><a href="#">Coming Soon</a></li>
                                            <li class="inside"><a href="#">Contact Page</a></li>
                                            <li class="inside"><a href="#">Contact Page 2</a></li>
                                        </ul>

                                    </div>

                                </li>

                                <li class="part">
                                    <a href="#">BLOG</a>
                                    <div class="insidehome">
                                        <ul>
                                            <li class="inside"><a href="#">Blog Date on Side</a></li>
                                            <li class="inside"><a href="#">Blog Masonry</a></li>
                                            <li class="inside"><a href="#">Blog Standard Whole Post</a></li>
                                            <li class="inside"><a href="#">Blog Masonry Full Width</a></li>
                                            <li class="inside"><a href="#">Blog Split Column</a></li>
                                            <li class="inside"><a href="#">Post Types</a></li>

                                        </ul>

                                    </div>

                                </li>


                                <li class="part">
                                    <a href="#">DESTINATIONS</a>

                                    <div class="insidehome">
                                        <ul>
                                            <li class="inside"><a href="#">Destinations List</a></li>
                                            <li class="inside"><a href="#">Destination Item</a></li>

                                        </ul>

                                    </div>

                                </li>

                                <li class="part">
                                    <a href="#">TOURS</a>
                                    <div class="insidehome">
                                        <ul>
                                            <li class="inside"><a href="#">Standard Tour List</a></li>
                                            <li class="inside"><a href="#">Boxes Tour list</a></li>
                                            <li class="inside"><a href="#">Tour Gallary List</a></li>
                                            <li class="inside"><a href="#">Tour Item</a></li>

                                        </ul>

                                    </div>

                                </li>
                                <li class="part">
                                    <a href="#">ELEMENTS</a>

                                    <div class="insidehome inside-element">
                                        <div class="container">

                                            <div class="flexelement">

                                                <ul>
                                                    <li class="inside"><a href="#">CLASSIC</a></li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-file"></i><span>
                                                                Accordions &
                                                                Toggles
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-table"></i>
                                                            <span>Tabs</span><i class="fa-solid fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-tablet-button"></i>
                                                            <span>Buttons</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-phone-volume"></i><span>
                                                                Call
                                                                To
                                                                Action
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-phone-volume"></i>
                                                            <span>Separators</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-quote-left"></i>
                                                            <span>Blockquote</span>
                                                        </a>
                                                    </li>
                                                </ul>


                                                <ul>
                                                    <li class="inside">
                                                        <a href="#">
                                                            PRESENTATION
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-regular fa-heart"></i><span>
                                                                Team
                                                                Shortcode
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-box-archive"></i><span>
                                                                Cover
                                                                Boxes
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-message"></i><span>Testimonials</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-gift"></i><span>Carousel</span><i class="fa-solid fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-blog"></i><span>
                                                                Blog List
                                                                Shortcode
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-image"></i><span>
                                                                Image
                                                                Galary
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>

                                                <ul>
                                                    <li class="inside"><a href="#">INFOGRAPHIC</a></li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-rotate"></i>
                                                            <span>Counters</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-box-archive"></i><span>
                                                                Pie
                                                                Charts
                                                            </span><i class="fa-solid fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-pen"></i>
                                                            <span>Reviews</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-envelope"></i> <span>
                                                                Message
                                                                Boxes
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-map"></i> <span>
                                                                Google
                                                                Maps
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-list"></i>
                                                            <span>Lists</span>
                                                        </a>
                                                    </li>
                                                </ul>

                                                <ul>
                                                    <li class="inside"><a href="#">TYPOGRAPHY</a></li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-heading"></i>
                                                            <span>Headings</span><i class="fa-solid fa-star"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-clipboard"></i>
                                                            <span>Columns</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-microphone"></i>
                                                            <span>Dropcaps</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-comments"></i>
                                                            <span>Highlights</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-folder"></i> <span>
                                                                Title &
                                                                Subtitle
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="fa-solid fa-toolbox"></i> <span>
                                                                Custom
                                                                Font
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                </li>

                                <li class="part">
                                    <a href="#">SHOP</a>

                                    <div class="insidehome">
                                        <ul>
                                            <li class="inside"><a href="#">Shop List With Sidebar</a></li>
                                            <li class="inside"><a href="#">Shop List 3 Columns</a></li>
                                            <li class="inside"><a href="#">Shop List 4 Columns</a></li>
                                            <li class="inside"><a href="#">Shop List 5 Columns Wide</a></li>
                                            <li class="inside"><a href="#">Product Single</a></li>


                                        </ul>

                                    </div>


                                </li>



                                <li class="part">
                                    <div class="round">
                                        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
                                        <div class="smallround">0</div>
                                    </div>
                                    <div class="insidehome">
                                        <ul>
                                            <li class="inside"><a href="#">No Product In the Cart.</a></li>

                                        </ul>

                                    </div>


                                </li>

                                <li class="part visible"><i class="fa-solid fa-bars"></i></li>

                            </ul>



                        </div>
                    </div>
                    <div class="mobile-menu">
                        <button>
                            <i class="fa-solid fa-bars"></i>
                        </button>
                    </div>
                </div>




            </div>
        </div>


    </header>
    @RenderBody()
    <footer>

        <div class="upperpart">
            <div class="container">
                <div class="flextype">
                    <h2>It’s Time For a New Adventure! Don’t Wait Any Longer. Contact us!</h2>
                    <button>Book Destination</button>
                </div>
            </div>
        </div>


        <div class="middlepart">

            <div class="container">

                <ul>
                    <div class="flexfooter">
                    <li>
                        <img src="~/Content/images/voyage-logo-white.png">
                        <p class="lipara">
                            Nullam ac justo efficitur, tristique ligula. Lorem Ipsn gravida
                            nibh
                            vel velit auctor
                            aliquet. Aenean sollicitudin.
                        </p>

                        <div class="first"><i class="fa-solid fa-phone"></i> 1-677-124-44227</div>
                        <div class="first">
                            <i class="fa-solid fa-location-dot"></i>184 Main Street West
                            Victoria
                            8007
                        </div>
                        <div class="first">
                            <i class="fa-regular fa-clock "></i>Mon -
                            Sat 8.00 - 18.00
                            Sunday
                            CLOSED
                        </div>

                    </li>
                    <li>
                        Latest News
                        <p class="secondpara">Water & Rocks:Discoveing the Beauty of New Zealand</p>
                        <p class="date">05.07.2023</p>

                        <p class="secondpara">Updates:People Who Work Overseas and Fly For Free</p>

                        <p class="date">05.07.2023</p>
                    </li>
                    <li>
                        Gallary

                        <div class="flexgallary1">
                            <img src="~/Content/images/img2.jpg">
                            <img src="~/Content/images/img4.jpg">
                            <img src="~/Content/images/img3.jpg">
                        </div>

                        <div class="flexgallary2">
                            <img src="~/Content/images/Pic4.jpg">
                            <img src="~/Content/images/Pic2.jpg">
                            <img src="~/Content/images/pic5.jpg">
                        </div>

                    </li>
                    <li>
                        Follow Us
                        <div class="twitter">
                            <div class="flexfollow">
                                <i class="fa-brands fa-twitter"></i>

                                <p class="follow">
                                    Al Forno is our new #WordPress
                                    theme, perfect for restaurants, bistros,
                                    smoothie bars and similar businesses. In… https://t.co/lzWhoGCtGZ
                                </p>
                            </div>
                        </div>

                        <div class="twitter">
                            <div class="flexfollow">
                                <i class="fa-brands fa-twitter"></i>
                               <p class="follow">
                                    @@mannadeb @@envato_help
                                    @@ThemeForest @@envato and you are welcome to
                                    continue the conversation with our support team… https://t.co/zLqLmRA5vs
                                </p>
                            </div>
                        </div>
                    </li>
            </div>
            </ul>

        </div>
        </div>

        <div class="lastpart">
            <div class="container">
                <div class="totalflex">

                    <p class="copy">&copy 2023 Qode Interactive, All Rights Reserved</p>


                    <div class="flexicon">

                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-pinterest-p"></i>
                        <i class="fa-brands fa-vimeo-v"></i>
                        <i class="fa-solid fa-basketball"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Content/js/plugins/jquary.js"></script>
    <script src="~/Content/js/plugins/owl.carousel.js"></script>
    <script src="~/Content/js/main.js"></script>




</body>

</html>