
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    @{           if (Session["Username"] != null)
            {
            <h1>Welcome @Session["Username"]</h1>
            }
    }
</body>
</html>
